.background {
    background-color: darkseagreen;
}

.header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.background_img {
    width: 80%;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 10%;
}

.playbox {
    position: relative;
    z-index: 2;
    width: 50%;
}

.bubble {
    top: -50%;
    left: -10%;
    transform: translate(-50%, -10%) !important;
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 37% !important;
    height: auto !important;
    position: relative;
    z-index: 3;

}

.questiontxt {
    position: absolute;
    z-index: 4;
    width: 24% !important;
    top: 22%;
    left: 29%;
    font-size: 18.5px;
    font-weight:600;
}

/* Style the button and place it in the middle of the container/image */
.start {
    position: absolute;
    top: 75%;
    left: 28%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: darkseagreen;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 5;
}

.character {
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translate(-60%, 30%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 50% !important;
    height: auto !important;
    position: relative;
    z-index: 6;

}

.multchoicebox {
    width: 40%;
    transform: translate(120%, -90%) !important;
    position: relative;
    z-index: 7;
    background-color: beige;
    padding: 8px 20px;
}


.question {
    top: 30%;
    left: 40%;
    position: relative;
    z-index: 8;
}

.btn-dark,
.btn-dark:active,
.btn-dark:visited {
    background-color: #6F4E37 !important;
    position: relative;
    z-index: 9;
}

.score {
    top: 5% !important;
    left: 10%;
    color: white;
    background-color: #6F4E37;
    padding: 12px 24px;
    position: absolute;
    z-index: 10;
}


