.background {
    background-color:darkseagreen;
}

.header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.container {
    position: relative;
    width: 50%;
}

/* Make the image responsive */
.background_img{
    width: 80%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.start{
    position: absolute;
    top: 75%;
    top: 77%;
    left: 33%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: darkseagreen;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.levels {
    position: absolute;
    top: 56.5%;
    left: 33%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #C19A6B;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 15%;

}

.character{
    position: absolute;
    top: 60%;
    left: 33%;
    transform: translate(-70%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width : 50% !important;
    height: auto !important;

}

.bubble {
    position: absolute;
    top: 60%;
    left: 33%;
    transform: translate(-25%, -100%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width : 30% !important;
    height: auto !important;

}

.question{

    position: absolute;
    top: 30%;
    left: 59%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #6F4E37;
    border: none;
    cursor: pointer;
    width : 50% !important;
    height: auto !important;

}

.btn-dark, .btn-dark:active, .btn-dark:visited {
    background-color: #6F4E37 !important;
}


.multchoicebox {
    width: 40%;
    transform: translate(48%, 38%);
}

.answerresult{
    position: absolute;
    top: 28%;
    left: 59%;
    transform: translate(-52%, 20%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    border: none;
    cursor: pointer;
    width : 50% !important;
    height: auto !important;
    font-size: 20px;
    font-weight: 600;
}
    

.next {
    position: absolute;
    top: 90%;
    left: 83%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.score {
    top: 4% !important;
    left: 10.5%;
    color: white;
    background-color: #6F4E37;
    padding: 12px 24px;
    position: absolute;
    z-index: 10;
}

.home{
    position: absolute;
    top: 88%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #C19A6B;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
}