<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <title>Finance Cafe</title>
</head>

<body class = "background">

        <div class="row header">
            <div class="col-2"></div>
            <div class="col-8">
                <br>
                <a href="/index">
                    <img src="./static/images/financecafe_logo.png" class="center">
                </a>
                
                <br>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="container">
            <!-- Start Game! -->

            <br>

            <img src="./static/images/customers/customer1.png" class="character">
            <img src="./static/images/NicePng_comic-bubble-png_256315.png" class="bubble">
            <p class="answerresult">That's correct, thank you!</p>


            <form method="post" action="/order">

                <img src="./static/images/reg_background.png" class="center background_img">
                <div class = "score"><h3> Earnings: ${{props.earnings}}    Coffee Beans: {{props.coffee_stocks}}</h3></div>


                <button type="submit" class="btn btn-dark btn-lg next">Next</button>

            </form>



        </div>



        <br>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>